html, body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
}
html, body {
    position: relative;
    overflow: hidden;
}
* { box-sizing: border-box; }

a {
    text-decoration: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.bg.underlay {
    background-color: #2c2c2c;
}
.bg .bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    animation: bgAnimation 36s linear infinite 0s;
}
.bg .bg-img:nth-child(1) {
    background-image: url(../_img/bg/rausch-creek.jpg);
}
.bg .bg-img:nth-child(2) {
    background-image: url(../_img/bg/fire-ring.jpg);
    animation-delay: 6s;
}
.bg .bg-img:nth-child(3) {
    background-image: url(../_img/bg/marcy-summit.jpg);
    animation-delay: 12s;
}
.bg .bg-img:nth-child(4) {
    background-image: url(../_img/bg/tiadaghton-state-forest.jpg);
    animation-delay: 18s;
}
.bg .bg-img:nth-child(5) {
    background-image: url(../_img/bg/barren-mountain.jpg);
    animation-delay: 24s;
}
.bg .bg-img:nth-child(6) {
    background-image: url(../_img/bg/us-2-nh.jpg);
    animation-delay: 30s;
}
/*  Timing Algorithm:
 *  n = number of images
 *  d = duration to display each image
 *
 *  where k0 = first keyframe
 *  k0 = 0%
 *  k1 = k2 / 2
 *  k2 = d / (n * d)
 *  k3 = k2 + k1
 *  k4 = 100%
 */
@webkit-keyframes bgAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes bgAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
#table {
    -webkit-transition:  all cubic-bezier(0.68, -0.55, 0.27, 1.55) 2s;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 2s;
}
#table.inactive {
    top: -100%;
}
.no-js #table.inactive {
    top: 100%;
}
.center-xy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.center-xy > tbody > tr > td {
    vertical-align: middle;
}
.info {
    position: relative;
    width: 97.5%;
    max-width: 300px;
    max-height: 97.5%;
    margin: 0 auto;
    border-radius: 1px;
    padding: 15px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.name,
.subname {
    font-family: 'Source Sans Pro', 'Tahoma', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}
.ultralight { font-weight: 200; }
.black { font-weight: 900; }
.name {
    font-size: 30px;
}
.subname {
    font-size: 20px;
}
#logo {
    display: block;
    width: 100%;
}
.link,
.social-link,
.link > span {
    -webkit-transition:  all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
}
.social-links {
    margin: 1em 0;
    margin-bottom: 4%;
}
.social-link {
    display: block;
    float: left;
    width: 22%;
    height: 59px;
    border-bottom: 5px solid rgba(0,0,0,0.5);
    border-radius: 1px;
    font-size: 45px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.social-link + .social-link {
    margin-left: 4%;
}
.linkedin:hover,
.linkedin:focus {
    background-color: #007AB9;
    border-bottom-color: #005580;
}
.github:hover,
.github:focus {
    background-color: #999;
    border-bottom-color: #767676;
    color: #333;
}
.instagram:hover,
.instagram:focus {
    background: rgb(64,93,230);
    background: -moz-linear-gradient(left,  rgba(64,93,230,1) 0%, rgba(88,81,219,1) 11%, rgba(131,58,180,1) 22%, rgba(193,53,132,1) 33%, rgba(225,48,108,1) 44%, rgba(253,29,29,1) 55%, rgba(245,96,64,1) 66%, rgba(247,119,55,1) 77%, rgba(252,175,69,1) 88%, rgba(255,220,128,1) 99%);
    background: -webkit-linear-gradient(left,  rgba(64,93,230,1) 0%,rgba(88,81,219,1) 11%,rgba(131,58,180,1) 22%,rgba(193,53,132,1) 33%,rgba(225,48,108,1) 44%,rgba(253,29,29,1) 55%,rgba(245,96,64,1) 66%,rgba(247,119,55,1) 77%,rgba(252,175,69,1) 88%,rgba(255,220,128,1) 99%);
    background: linear-gradient(to right,  rgba(64,93,230,1) 0%,rgba(88,81,219,1) 11%,rgba(131,58,180,1) 22%,rgba(193,53,132,1) 33%,rgba(225,48,108,1) 44%,rgba(253,29,29,1) 55%,rgba(245,96,64,1) 66%,rgba(247,119,55,1) 77%,rgba(252,175,69,1) 88%,rgba(255,220,128,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405de6', endColorstr='#ffdc80',GradientType=1 );
    border-bottom-color: white;
}
.email:hover,
.email:focus {
    color: firebrick;
    background-color: white;
    border-bottom-color: firebrick;
}
.links {}
.link {
    display: block;
    float: left;
    width: 48%;
    height: 69px;
    border-bottom: 5px solid rgba(0,0,0,0.5);
    border-radius: 1px;
    padding: 9px 15px;
    font-family: 'Source Sans Pro', Tahoma, sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.link + .link {
    margin-left: 4%;
}
.link > span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}
.link:hover,
.link:focus {
    background-color: green;
    border-bottom-color: darkgreen;
}
.link:hover > span,
.link:focus > span {
    color: #ffde00;
}
#down-arrow {
    width: 10%;
    height: auto;
    left: 45%;
    top: 100%;
}
#down-arrow:hover,
#down-arrow:focus {
    border-top: 5px solid darkgreen;
}
#up-arrow {
    width: 5%;
    max-width: 50px;
    height: auto;
    left: 47.5%;
    bottom: -50%;
}
@media (min-width: 1000px) {
    #up-arrow {
        left: calc(50% - 25px);
    }
}
@media (max-width: 599px) {
    #up-arrow {
        width: 30px;
        left: calc(50% - 15px);
    }
}
#up-arrow:hover,
#up-arrow:focus {
    border-bottom: 5px solid darkgreen;
}
.arrow,
.arrow-path {
    -webkit-transition:  all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
}
.arrow {
    display: block;
    position: absolute;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}
.arrow-path {
    fill: white;
}
.arrow:hover,
.arrow:focus {
    background-color: green;
}
.arrow:hover .arrow-path,
.arrow:focus .arrow-path {
    fill: #ffde00;
}
.caption-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: -50%;
    font-family: 'Source Sans Pro', Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    -webkit-transition:  all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
}
.caption {
    display: inline-block;
    max-width: 96%;
    padding: 1%;
    background-color: rgba(0,0,0,0.5);
}

#down-arrow-mobile {
    display: none;
    position: absolute;
    left: calc(50% - 15px);
    top: 100%;
    width: 30px;
    height: 20px;
    border: none;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#down-arrow-mobile:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: white transparent transparent transparent;
    -webkit-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
}

#down-arrow-mobile:focus,
#down-arrow-mobile:hover {
    height: 25px;
    border-top: 5px solid darkgreen;
    background-color: green;
}

#down-arrow-mobile:focus:before,
#down-arrow-mobile:hover:before {
    border-color: #ffde00 transparent transparent transparent;
}

#up-arrow-mobile {
    display: none;
    left: calc(50% - 15px);
    bottom: -50%;
    width: 30px;
    height: 20px;
    border: none;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#up-arrow-mobile:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    -webkit-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
}

#up-arrow-mobile:focus,
#up-arrow-mobile:hover {
    height: 25px;
    border-bottom: 5px solid darkgreen;
    background-color: green;
}

#up-arrow-mobile:focus:before,
#up-arrow-mobile:hover:before {
    border-color: transparent transparent #ffde00 transparent;
}

@media (max-width: 599px) {
    #down-arrow,
    #up-arrow {
        display: none;
    }
    #down-arrow-mobile,
    #up-arrow-mobile {
        display: block;
    }
}

@media (max-height: 579px) {
    #logo {
        width: 180px;
        margin: 0 auto;
    }
    .name {
        font-size: 24px;
    }
    .subname {
        font-size: 16px;
    }
    .social-link {
        font-size: 30px;
        height: 42px;
    }
    .link {
        font-size: 21px;
        height: auto;
    }
    .link > span {
        font-size: 11px;
    }

}
